<ion-content [fullscreen]="true" class="login-content">
  <!-- Contenido principal -->
  <div class="login-content">
    <div class="login-container">

      <!-- Logo y Título -->
      <div class="logo-wrapper">
        <ion-img src="assets/icon/favicon.png" alt="Logo de Shoppy Catalog" class="app-logo"></ion-img>
        <h1 class="brand-name">
          Shoppy <span>Catalog</span>
        </h1>
      </div>

      <!-- Formulario -->
      <div class="form-section">
        <ion-input label-placement="stacked" fill="outline" placeholder="Ingrese su correo electrónico"
          class="custom-input">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
        </ion-input>

        <!-- Botón -->
        <ion-button expand="block" class="login-button">
          Enviar Enlace de Recuperación
        </ion-button>
      </div>

      <!-- Enlace de regreso -->
      <div class="footer-links">
        <span class="back-link" (click)="goToLogin()">
          Volver al inicio de sesión
        </span>
      </div>

    </div>
  </div>
</ion-content>