<app-menu title="Inicio">
  <!-- Buscador -->
  <ion-searchbar placeholder="Buscar productos..." class="cf-search" [(ngModel)]="searchQuery"></ion-searchbar>

  <!-- Grid -->
  <div class="cf-grid">
    <div class="cf-card" *ngFor="let product of products | filter:searchQuery:'name'" (click)="OpenModal2(product, 'view')">
      <img [src]="product.image" />
      <div class="cf-card-body">
        <h3 class="cf-title">{{product.name}}</h3>
        <p class="cf-price">${{product.price}}</p>
      </div>
    </div>
  </div>

  <div class="cf-empty-state" *ngIf="products.length == 0">
    <ion-icon name="list-outline"></ion-icon>
    <p>Aún no has agregado productos</p>
    <span>Presiona el botón + para comenzar</span>
  </div>

  <!-- FAB -->
  <ion-fab vertical="bottom" horizontal="end" class="cf-fab">
    <ion-fab-button (click)="OpenModal2('', 'create')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</app-menu>