<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="register-content">
  <div class="register-container">

    <div class="header-section">
      <div class="logo-ring">
        <ion-img src="assets/icon/favicon.png" class="mini-logo"></ion-img>
      </div>
      <h2>Crea tu cuenta</h2>
      <p>Únete a la gestión inteligente de ShoppyCatalog</p>
    </div>


    <div class="form-card">
      <!-- Datos Personales -->
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none" class="custom-input">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label position="floating">Nombre (s)</ion-label>
            <ion-input type="text" [(ngModel)]="form.name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none" class="custom-input">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label position="floating">Apellido (S)</ion-label>
            <ion-input type="text" [(ngModel)]="form.lastname"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none" class="custom-input">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input type="email" [(ngModel)]="form.email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item lines="none" class="custom-input">
            <ion-label position="floating">Lada</ion-label>
            <ion-select [(ngModel)]="form.dialing_code" interface="popover" toggleIcon="chevron-down-outline"
              [interfaceOptions]="{cssClass: 'lada-select'}">
              <ion-select-option *ngFor="let c of countries" [value]="c.code">
                {{ c.flag }} {{ c.code }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="none" class="custom-input">
            <!-- <ion-icon name="call-outline" slot="start"></ion-icon> -->
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input type="tel" [(ngModel)]="form.cellphone" (ionInput)="formatPhone($event)"
              placeholder="(000) 000-0000"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Usuario -->
      <ion-item lines="none" class="custom-input">
        <ion-icon name="at-outline" slot="start"></ion-icon>
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input type="text" [(ngModel)]="form.username"></ion-input>
      </ion-item>

      <!-- Fecha de nacimiento -->
      <ion-item lines="none" class="custom-input date-item">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <div class="date-wrapper">
          <ion-label>Fecha de nacimiento</ion-label>
          <ion-datetime-button datetime="birthday"></ion-datetime-button>
        </div>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="birthday" presentation="date" (ionChange)="onDateChange($event)"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <!-- Seguridad -->
      <ion-item lines="none" class="custom-input">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="form.password"></ion-input>
      </ion-item>

      <!-- Datos de Tienda (Nombre de la tienda) -->
      <ion-item lines="none" class="custom-input">
        <ion-icon name="storefront-outline" slot="start"></ion-icon>
        <ion-label position="floating">Nombre de tienda</ion-label>
        <ion-input type="text" [(ngModel)]="form.store"></ion-input>
      </ion-item>

      <!-- Selección de Plan -->
      <!-- <ion-item lines="none" class="custom-input">
        <ion-icon name="ribbon-outline" slot="start"></ion-icon>
        <ion-label position="floating">Plan de suscripción</ion-label>
        <ion-select [(ngModel)]="form.id_plan" interface="popover">
          <ion-select-option [value]="1">Básico (Gratis)</ion-select-option>
          <ion-select-option [value]="2">Premium</ion-select-option>
          <ion-select-option [value]="3">Empresarial</ion-select-option>
        </ion-select>
      </ion-item> -->

      <ion-button expand="block" class="register-button" (click)="register()">
        Registrar plataforma
      </ion-button>
    </div>


    <p class="terms">
      Al registrarte, aceptas nuestros <span (click)="terms()">Términos y Condiciones</span>.
    </p>
  </div>
</ion-content>